* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eab0d9;
    color: #f4e3ec;
    padding: 20px;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#menu-icon {
    font-size: 1.5em;
    cursor: pointer;
}

nav {
    background-color: #f1c6de;
    padding: 10px;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #eab0d9;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

#profile img {
    
    flex-direction: row;
    display: flex;
    height: 500px;
    width: 450px;
    margin: auto 0;
}

.section__text {
    
    flex-direction: row;
    align-self: center;
    text-align: center;
}

.section__text__p1 {
    
    flex-direction: row;
    text-align: center;
}

.title {
    display :flex;
    flex-direction: row;
    font-size: 3rem;
    text-align: center;
}

.profile-links {
    display :flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 1rem;
}

.social-button {
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.github-button {
    background-image: url('./assset/github.png');
}

.twitter-button {
    background-image: url('./assset/x.png');
}

.linkedin-button {
    background-image: url('./assset/linkedin.png');
}


.rounded-border-section {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f8f8; 
}

/* About me */

.info-box-container {
    display: flex;
    justify-content: space-around;
    background-color: #eab0d9; 
    border-radius: 15px; 
    overflow: hidden; 
    padding: 20px; 
    margin: 20px;
}

.info-box {
    display: flex;
}

.info-item {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center; 
    background-color: #f8f8f8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.info-item h4 {
    margin-bottom: 10px;
    color: #333; 
}

.info-item p {
    color: #666; 
}

/* button */

.button-container {
    display: flex;
    justify-content: center;
    height: 10vh; 
}

button {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin: 5px;
}

button:hover {
    background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
}

@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}







/* skill section */
.skill_text , .about_title ,.projects_title   {
    
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    display: list-item;
    list-style: none;
    background-color: #eab0d9;
}

.skill-title{
    text-align: center;
    font-weight: bolder ;
}

.skill-text{
    text-align: center;
    font-size: 20px;

}

.icon-skill {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
}
    


.rounded-border-section h3.skill-text {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.skill_1,
.skill_2,
.skill_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects section */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.project-info {
    padding: 20px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-description {
    color: #555;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #444141;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #555;
}
